<div class="table-responsive mt-4">
  <div class="d-flex justify-content-end">
    <%= link_to "Add inventory", "inventories/new", class: "btn btn-success"%>
  </div>
  <table class="table table-light table-bordered mt-4">
    <thead>
      <tr>
        <th scope="col">Number</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @inventories.each do | inventory | %>
       <tr>
        <th scope="row"><%= inventory.id %></th>
        <td><%= inventory.name %></td>
        <td><%= inventory.description %></td>
        <td>
          <div class="d-flex justify-content-between">
          <button type="button" class= "btn border-warning bg-warning">
            <a class="text-light text-decoration-none" href="/inventories/<%= inventory.id %>">Description</a>  
          </button>
          <%= button_to "Delete", "inventories/#{inventory.id}" , method: :delete, class: "btn border-danger text-light bg-danger" %>
          </div>
        </td>
       </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-center m-t 5">
    <p>
      <% if @inventories.empty? %>
        <h1 class="text-danger">There are no Inventories :(</h1>
      <% end %>
    </p>
</div>
</div>