<div class="table-responsive mt-4">
  <div class="d-flex justify-content-end">
    <%= link_to "Add inventory", "inventories/new", class: "btn btn-success"%>
  </div>
  <table class="table table-light table-bordered mt-4">
    <thead>
      <tr>
        <th scope="col">Number</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @inventories.each do | inventory | %>
       <tr>
        <th scope="row"> <%= inventory.id %></th>
        <td><%= inventory.name %></td>
        <td><%= inventory.description %></td>
        <td>
          <%= button_to "Delete", "inventories/#{inventory.id}" , method: :delete, class: "btn border-danger text-danger" %>
        </td>
       </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <p>
      <% if @inventories.empty? %>
        <h1 class="text-danger">There are no Inventories :(</h1>
      <% end %>
    </p>
</div>
</div>